table thead{
    /* background-color: #343a40; */
    background-color: #212529;
    color: #fff;
}

.btn-success{
    background-color: #55ce63!important;
    border: 1px solid #55ce63;
    color: #fff!important;
}
.modal-content{
    position: relative;
}
.close{
    color: #037aca!important;
    cursor: pointer;
    opacity: 1!important;
    position: absolute;
    top: -14px;
    right: -14px;
}
